@{
    ViewBag.Title = "Index";
}


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-search"></i> Search</h3>
        </div>
        <div class="panel-body">

            <div class="form-inline" id="toolbar">
                <div class="form-group form-group-sm">
                    <label class="sr-only" for="Pnbr">订单号</label>
                    <input type="text" id="Pnbr" name="Pnbr" class="form-control input-sm" placeholder="订单号..." />
                </div>
                <div class="form-group form-group-sm">
                    <label for="LNbr" class="sr-only">物流单号</label>
                    <input type="text" id="LNbr" name="LNbr" class="form-control input-sm" placeholder="物流单号..." />
                </div>
                <div class="form-group form-group-sm">
                    <label for="Requester" class="sr-only">姓名</label>
                    <select class="select2 form-control" style="width:200px;" id="sUser" name="sUser"><option></option></select>
                </div>
                <div class="form-group form-group-sm">
                    <label for="Status" class="sr-only">状态</label>
                    <select class="form-control select2" id="Status" name="Status" style="width:150px;">
                        <option value="">状态...</option>
                        <option value="Draft">草稿</option>
                        <option value="InProcess">正在进行</option>
                        <option value="Closed">已完成</option>
                        <option value="Cancelled">已取消</option>

                    </select>
                </div>
                <button class="btn btn-primary btn-sm" onclick="bind2Table();"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
            <div class="col-lg-12">
                <table id="tbSearh" class="table table-hover table-striped table-bordered" data-pagination="true" data-show-refresh="true"></table>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
        layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
        peopleSearchNmaeId("sUser");

        var Cuser = '@ViewBag.createby';
            if (Cuser != null && Cuser != '') {
                $("#sUser").append(new Option(Cuser.split("|")[1], Cuser.split("|")[0], true, true)).trigger("change");
            }

        bind2Table();
        });

        function bind2Table() {
            $("#tbSearh").bootstrapTable('destroy').bootstrapTable({
                method: "get",  //使用get请求到服务器获取数据
                url: "@Url.Action("ListSearch", "Search")", //获取数据的Servlet地址
                dataType: "json",
                cache: false,
                showExport: false,  //是否显示导出按钮
                buttonsAlign: "right",  //导出按钮位置           
                striped: true,  //表格显示条纹
                pagination: true, //启动分页
                paginationHAlign: 'right', //right, left
                paginationVAlign: 'bottom', //bottom, top, both
                paginationDetailHAlign: 'left', //right, left
                pageSize: 15,  //每页显示的记录数
                pageNumber: 1, //当前第几页
                pageList: [10, 15],  //记录数可选列表
                search: false,  //是否启用查询
                toolbar: '#toolbar',
                showColumns: false,  //显示下拉框勾选要显示的列
                showRefresh: false,  //显示刷新按钮              
                showPaginationSwitch: false,//展示页数的选择？
                sidePagination: "server", //server表示服务端请求client
                queryParamsType: "limit",
                queryParams: function queryParams(params) {   //设置查询参数
                    var param = {
                        pnbr: $("#Pnbr").val(),
                        lnbr: $("#LNbr").val(),
                        state: $("#Status").val(),
                        userId: $("#sUser").val(),
                        pageIndex: Math.ceil(params.offset / params.limit) + 1,
                        pageSize: params.limit
                    };
                    return param;
                },
                formatSearch: function () {
                    return 'Search: Request Number';
                },
                columns: [
         {
             field: 'rownum', // 返回json数据中的name
             title: '#', // 表格表头显示文字
             align: 'center', // 左右居中
             valign: 'middle', // 上下居中
             visible: true
         }, {
             field: 'PNbr',
             title: '订单号',
             align: 'center',
             valign: 'middle'  

         }, {
             field: 'Cdt',
             title: '申请日期',
             align: 'center',
             valign: 'middle'
         }, {
             field: 'ModUser',
             title: '申请人',
             align: 'center',
             valign: 'middle'
         }, {
             field: 'Status',
             title: '状态',
             align: 'center',
             valign: 'middle'
         }, {
             title: 'Action',
             field: 'PNbr',
             align: 'center',
             width: '100px',
             formatter: function (value, row, index) {
                 return '<a href="@Html.Raw(Url.Content("~/Search/Infor?pnbr="))' + value + '" title="查看" onclick="showLoading();"><i class="fa fa-eye"> </i></a>';
             }
         }],
                onLoadSuccess: function () {  //加载成功时执行
                    layer.closeAll('loading');
                },
                onLoadError: function () {  //加载失败时执行
                    layer.msg("load error", { time: 1500, icon: 2 });
                }
            });
        }

        function peopleSearchNmaeId(crnId) {
            $("#" + crnId).select2({
                ajax: {
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    url: '@Url.Content("~/User/ListUsersForSelect")',
                    delay: 250,
                    success: function (data) {
                    },
                    data: function (params) {
                        return {
                            query: params.term   // 查询的关键字
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                },
                placeholder: '姓名...',   //需要select控件使用默认默认,或者placeholder无效
                allowClear: true,
                theme: 'classic',
                minimumInputLength: 1,
                //minimumResultsForSearch: 5, // at least 20 results must be displayed   myteammodal
                maximumSelectionLength: 3, //最多能够选择的个数
                tags: false,//允许手动添加
                templateResult: function (obj) { return obj.text; },    // 显示查询结果
                templateSelection: function (user) { return user.text; },    // 显示选中的对象
                escapeMarkup: function (markup) { return markup; }
            });
        }


        function showLoading() {
            layer.load(1, { shade: [0.5, '#fff'] });   //show loading...
        }

    </script>
}